@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.custom-text-color{
    color: #1c1a99;
}
.custom-background-color{
    background-color:#1c1a99;
}
.custom-hovered-color{
    color: #14126b;
}
#addbutton:disabled{
    background-color: #a3a2c2;
    color: #e0e0e0;
    opacity: 1;
}
@keyframes fadeInmodal{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes fadeOutmodal{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
.modal.is-active{
    animation: fadeInmodal 0.3s ease-in-out;
}
.modal{
    animation-duration: 0.3s;
    animation-timing-function:ease-in-out;
}
.modal.is-closing{
    animation: fadeOutmodal 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
    .table-container {
        overflow-x: auto;
    }
    
    table {
        width: 100%;
        min-width: 600px; 
    }
}

::-webkit-scrollbar {
    display: none;
}


html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}
.card_modal{
    width: 90%;
}
.sticky-container {
    position: sticky;
}

.sticky-button {
    position: fixed;
}
@media screen and (min-width: 1024px) {

    .sticky-container {
        position: sticky;
        padding: 2rem;
    }
    .sticky-button {
        position: fixed;
       
    }

}
#edit_title{
    max-width: 50%;
}