
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html, body {
    height: 100%;
}
.custom-text-color{
    color: #1c1a99;
}
.custom-background-color{
    background-color:#1c1a99;
}
.custom-hovered-color{
    color: #14126b;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-radius-customize{
    border-radius: 1rem;
}
.border-radius-customize-inner{
    border-radius: 1rem 0rem 0rem 1rem;
}
@media (max-width: 768px) {
    .border-radius-customize-inner{
      border-radius: 1rem;
    }
  }
  
  /* Responsive Style for Extra Small Screens */
  @media (max-width: 480px) {
   .border-radius-customize-inner{
    border-radius: 1rem;
   }
  }

