USE [master]
GO
/****** Object:  Database [C_A]    Script Date: 4/16/2025 5:05:26 PM ******/
CREATE DATABASE [C_A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'C_A', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\C_A.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'C_A_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\C_A_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C_A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C_A]
GO
/****** Object:  Table [dbo].[APPROVER]    Script Date: 4/16/2025 5:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVER](
	[approver_id] [int] IDENTITY(1,1) NOT NULL,
	[approver_emp_no] [int] NULL,
	[approver_email] [nvarchar](50) NOT NULL,
	[approver_dept] [nvarchar](50) NOT NULL,
	[approver_password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[approver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[approver_emp_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BREAKDOWN_REQUEST]    Script Date: 4/16/2025 5:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BREAKDOWN_REQUEST](
	[request_id] [int] NOT NULL,
	[land_transpo] [decimal](18, 2) NULL,
	[air_transpo] [decimal](18, 2) NULL,
	[water_transpo] [decimal](18, 2) NULL,
	[meals] [decimal](18, 2) NULL,
	[lodging] [decimal](18, 2) NULL,
	[tools] [decimal](18, 2) NULL,
	[miscel] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 4/16/2025 5:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[requestor_id] [int] NULL,
	[request_purpose] [text] NOT NULL,
	[request_description] [text] NULL,
	[request_amount] [decimal](18, 2) NOT NULL,
	[request_date] [date] NOT NULL,
	[request_status] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/16/2025 5:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[user_employee_number] [nvarchar](50) NOT NULL,
	[user_email] [nvarchar](50) NOT NULL,
	[user_fname] [nvarchar](50) NOT NULL,
	[user_lname] [nvarchar](50) NOT NULL,
	[user_dept] [nvarchar](50) NOT NULL,
	[user_position] [nvarchar](50) NOT NULL,
	[user_password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BREAKDOWN_REQUEST]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[REQUEST] ([request_id])
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD FOREIGN KEY([requestor_id])
REFERENCES [dbo].[USERS] ([id_user])
GO
USE [master]
GO
